body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

#form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(71, 46, 94);
    width: 30%;
    border-radius: 20px;
}

#form-box > h2 {
    font-size: 48px;
    margin: 0px;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 70%;
}

.input-form > input {
    font-size: larger;
}

.input-form > button {
    background-color: blueviolet;
    border: none;
    border-radius: 20px;
    font-size: larger;
    height: 40px;
    margin-bottom: 20px;
}

.input-form > button:active {
    background-color: rgb(43, 13, 70);
}