body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

#login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(71, 46, 94);
    width: 30%;
    border-radius: 20px;
}

#login-box > h2 {
    font-size: 48px;
    margin: 0px;
}

#login-box > input {
    width: 50%;
    font-size: larger;
}